.gitignore
client/httpclient
server/httpserver
testdir/httpclient
testdir/httpclient.log
testdir/httpclient_pid
testdir/httpserver
testdir/httpserver.log
testdir/httpserver_pid
testdir/proxy.log
testdir/proxy_pid
*/*.swp
*/*.o
*.swp
